<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>project.controllers.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allDrivers</servlet-name>
        <servlet-class>project.controllers.GetAllDriversController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allDrivers</servlet-name>
        <url-pattern>/drivers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createDrivers</servlet-name>
        <servlet-class>project.controllers.CreateDriversController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createDrivers</servlet-name>
        <url-pattern>/drivers/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allManufacturers</servlet-name>
        <servlet-class>project.controllers.GetAllManufacturersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allManufacturers</servlet-name>
        <url-pattern>/manufacturers</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createManufacturers</servlet-name>
        <servlet-class>project.controllers.CreateManufacturersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createManufacturers</servlet-name>
        <url-pattern>/manufacturers/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allCars</servlet-name>
        <servlet-class>project.controllers.GetAllCarsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allCars</servlet-name>
        <url-pattern>/cars</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createCars</servlet-name>
        <servlet-class>project.controllers.CreateCarsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createCars</servlet-name>
        <url-pattern>/cars/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addDriver</servlet-name>
        <servlet-class>project.controllers.AddDriverToCarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addDriver</servlet-name>
        <url-pattern>/addDriver</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteManufacturer</servlet-name>
        <servlet-class>project.controllers.DeleteManufacturersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteManufacturer</servlet-name>
        <url-pattern>/manufacturers/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteDrivers</servlet-name>
        <servlet-class>project.controllers.DeleteDriversController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteDrivers</servlet-name>
        <url-pattern>/drivers/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteCars</servlet-name>
        <servlet-class>project.controllers.DeleteCarsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteCars</servlet-name>
        <url-pattern>/cars/delete</url-pattern>
    </servlet-mapping>
</web-app>
