<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
         http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <servlet>
        <servlet-name>index</servlet-name>
        <servlet-class>project.controllers.IndexController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>index</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allDrivers</servlet-name>
        <servlet-class>project.controllers.GetAllDriversController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allDrivers</servlet-name>
        <url-pattern>/driver/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createDrivers</servlet-name>
        <servlet-class>project.controllers.CreateDriverController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createDrivers</servlet-name>
        <url-pattern>/driver/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allManufacturers</servlet-name>
        <servlet-class>project.controllers.GetAllManufacturersController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allManufacturers</servlet-name>
        <url-pattern>/manufacturer/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createManufacturers</servlet-name>
        <servlet-class>project.controllers.CreateManufacturerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createManufacturers</servlet-name>
        <url-pattern>/manufacturer/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>allCars</servlet-name>
        <servlet-class>project.controllers.GetAllCarsController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>allCars</servlet-name>
        <url-pattern>/car/all</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>createCars</servlet-name>
        <servlet-class>project.controllers.CreateCarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>createCars</servlet-name>
        <url-pattern>/car/create</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>addDriver</servlet-name>
        <servlet-class>project.controllers.AddDriverToCarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>addDriver</servlet-name>
        <url-pattern>/car/drivers/add</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteManufacturer</servlet-name>
        <servlet-class>project.controllers.DeleteManufacturerController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteManufacturer</servlet-name>
        <url-pattern>/manufacturer/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteDrivers</servlet-name>
        <servlet-class>project.controllers.DeleteDriverController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteDrivers</servlet-name>
        <url-pattern>/driver/delete</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>deleteCars</servlet-name>
        <servlet-class>project.controllers.DeleteCarController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>deleteCars</servlet-name>
        <url-pattern>/car/delete</url-pattern>
    </servlet-mapping>
</web-app>
